In [1]:
# Librerías de análisis de datos
import numpy as np
import pandas as pd

# Librerías de visualización
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("london_airbnb.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,11551,Arty and Bright London Apartment in Zone 2,43039,Adriano,NaN,Lambeth,51.46225,-0.11732,Entire home/apt,88,3,185,2019-09-15,1.58,2,336
1,13913,Holiday London DB Room Let-on going,54730,Alina,NaN,Islington,51.56802,-0.11121,Private room,65,1,19,2019-10-07,0.17,2,365
2,90700,Sunny Notting Hill flat & terrace,491286,Chil,NaN,Kensington and Chelsea,51.51074,-0.19853,Entire home/apt,105,2,339,2019-07-30,3.33,2,268
3,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,NaN,Kensington and Chelsea,51.48796,-0.16898,Entire home/apt,100,30,88,2019-09-23,0.73,1,158
4,92399,"MODERN SELF CONTAINED ARCHITECT FLATLET, ISLIN...",497366,Andrea & Mark,NaN,Islington,51.55071,-0.08547,Private room,77,1,207,2019-10-21,2.04,2,336

In [3]:
#Conteo de datos faltantes por columna. 
df.isnull().sum(axis = 0)

#Promedio de review per month
promedio = df["reviews_per_month"].mean()
promedioprice = df["price"].mean()
df["reviews_per_month"].fillna(promedio, inplace=True)
df['price'] = df['price'].replace([0], promedioprice)
df.dropna()
df_dup = df[df.duplicated()]
len(df_dup)

0

In [4]:
df = df.drop(columns=["neighbourhood_group","id","last_review","name","host_id","host_name","latitude","longitude"])
#df = df.drop(columns=["neighbourhood_group","id", "name","host_id","host_name"], axis=1, inplace=True)

#calculo el promedio de precio
promedio = df["price"].mean()

#imputacion de datos por el promedio
df["reviews_per_month"].fillna(promedio, inplace=True)

#TODO: corte de outlayer
df = df[df["price"] < 5000]

# Muestra datos
df.head()

,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Lambeth,Entire home/apt,88.0,3,185,1.58,2,336
1,Islington,Private room,65.0,1,19,0.17,2,365
2,Kensington and Chelsea,Entire home/apt,105.0,2,339,3.33,2,268
3,Kensington and Chelsea,Entire home/apt,100.0,30,88,0.73,1,158
4,Islington,Private room,77.0,1,207,2.04,2,336

In [5]:
#df.corr()

In [6]:
X = df.drop("price", axis=1)
y = df["price"]

In [7]:
# solo 5
df.head()

,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Lambeth,Entire home/apt,88.0,3,185,1.58,2,336
1,Islington,Private room,65.0,1,19,0.17,2,365
2,Kensington and Chelsea,Entire home/apt,105.0,2,339,3.33,2,268
3,Kensington and Chelsea,Entire home/apt,100.0,30,88,0.73,1,158
4,Islington,Private room,77.0,1,207,2.04,2,336

In [8]:
X.head()

,neighbourhood,room_type,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Lambeth,Entire home/apt,3,185,1.58,2,336
1,Islington,Private room,1,19,0.17,2,365
2,Kensington and Chelsea,Entire home/apt,2,339,3.33,2,268
3,Kensington and Chelsea,Entire home/apt,30,88,0.73,1,158
4,Islington,Private room,1,207,2.04,2,336

In [9]:
y.head()

0     88.0
1     65.0
2    105.0
3    100.0
4     77.0
Name: price, dtype: float64

In [10]:
#Identificación de variables de la nueva tabla "df":

categoricas = ["neighbourhood", "room_type"]
numericas = ["minimum_nights", "number_of_reviews", "reviews_per_month", "calculated_host_listings_count", "availability_365"]

In [11]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

transformer_numerico = ("transformer_numerico", MinMaxScaler(), numericas)
transformer_categorico = ("transformer_categorico", OneHotEncoder(), categoricas)

transformer = ColumnTransformer([transformer_numerico, transformer_categorico])

In [12]:
X = transformer.fit_transform(X).toarray()

In [13]:
pd.DataFrame(X, columns = transformer.get_feature_names_out())

,transformer_numerico__minimum_nights,transformer_numerico__number_of_reviews,transformer_numerico__reviews_per_month,transformer_numerico__calculated_host_listings_count,transformer_numerico__availability_365,transformer_categorico__neighbourhood_Barking and Dagenham,transformer_categorico__neighbourhood_Barnet,transformer_categorico__neighbourhood_Bexley,transformer_categorico__neighbourhood_Brent,transformer_categorico__neighbourhood_Bromley,...,transformer_categorico__neighbourhood_Southwark,transformer_categorico__neighbourhood_Sutton,transformer_categorico__neighbourhood_Tower Hamlets,transformer_categorico__neighbourhood_Waltham Forest,transformer_categorico__neighbourhood_Wandsworth,transformer_categorico__neighbourhood_Westminster,transformer_categorico__room_type_Entire home/apt,transformer_categorico__room_type_Hotel room,transformer_categorico__room_type_Private room,transformer_categorico__room_type_Shared room
0,0.001779,0.258380,0.078032,0.001002,0.920548,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.000000,0.026536,0.007952,0.001002,1.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.000890,0.473464,0.165010,0.001002,0.734247,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.025801,0.122905,0.035785,0.000000,0.432877,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.000000,0.289106,0.100895,0.001002,0.920548,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85012,0.001779,0.002793,0.098907,0.000000,0.161644,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
85013,0.000890,0.000000,0.059244,0.001002,0.309589,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
85014,0.001779,0.000000,0.059244,0.003006,0.172603,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
85015,0.000890,0.000000,0.059244,0.003006,0.002740,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
85016,0.000000,0.000000,0.059244,0.000000,0.852055,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [14]:
transformer.output_indices_

{'transformer_numerico': slice(0, 5, None),
 'transformer_categorico': slice(5, 42, None),
 'remainder': slice(0, 0, None)}

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y)

In [16]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [17]:
def train_evaluate(nombre_modelo, modelo):
    mod = modelo()
    mod.fit(X_train, y_train)
    
    y_predict = mod.predict(X_test)
    
    mae = mean_absolute_error(y_test, y_predict)
    mse = mean_squared_error(y_test, y_predict)
    rmse = mean_squared_error(y_test, y_predict, squared=False)
    r2 = r2_score(y_test,y_predict)
    
    y_pred_train = mod.predict(X_train)
    mae_train = mean_absolute_error(y_train, y_pred_train)
    
    print(nombre_modelo)
    print()
    print(f"MAE: {mae}")
    print(f"MSE: {mse}")
    print(f"RMSE: {rmse}")
    print(f"R2: {r2}")
    print()
    print(f"MAE Train: {mae_train}")

In [18]:
train_evaluate("LinearRegression", LinearRegression)

LinearRegression

MAE: 57.173920513567694
MSE: 15230.617714756636
RMSE: 123.41238882201671
R2: 0.23357638672346093

MAE Train: 58.420386820123205

In [19]:
train_evaluate("Decission Tree", DecisionTreeRegressor)

Decission Tree

MAE: 62.85880905229181
MSE: 21931.003233982898
RMSE: 148.0911990429644
R2: -0.10359534039668516

MAE Train: 5.8023624604799595

In [20]:
#train_evaluate("RandomForestRegressor", RandomForestRegressor)

In [21]:
#train_evaluate("SVM", SVR)